[submodule "submodules/HunyuanVideo"]
	path = submodules/HunyuanVideo
	url = https://github.com/Tencent/HunyuanVideo
[submodule "submodules/Cosmos"]
	path = submodules/Cosmos
	url = https://github.com/NVIDIA/Cosmos
[submodule "submodules/Lumina_2"]
	path = submodules/Lumina_2
	url = https://github.com/Alpha-VLLM/Lumina-Image-2.0
[submodule "submodules/Wan2_1"]
	path = submodules/Wan2_1
	url = https://github.com/Wan-Video/Wan2.1
[submodule "submodules/flow"]
	path = submodules/flow
	url = https://github.com/lodestone-rock/flow
