torch==2.4.1
torchvision==0.19.1
deepspeed
toml
transformers
diffusers
datasets
pillow
sentencepiece
protobuf
peft
torch-optimi
tensorboard
tqdm
safetensors
bitsandbytes
imageio[ffmpeg]
av
einops
accelerate